In [ ]:
import pandas as pd
import numpy as np
import warnings
import math
warnings.filterwarnings('ignore')

In [33]:
df= pd.read_csv("T20I_ball_by_ball_updated.csv")

In [34]:
df.tail(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
540327,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.2,Namibia,United Arab Emirates,D Wiese,R Trumpelmann,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540328,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.3,Namibia,United Arab Emirates,R Trumpelmann,D Wiese,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540329,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.4,Namibia,United Arab Emirates,D Wiese,R Trumpelmann,...,0,NaN,NaN,NaN,NaN,NaN,caught,D Wiese,NaN,NaN
540330,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.5,Namibia,United Arab Emirates,BM Scholtz,R Trumpelmann,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540331,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.6,Namibia,United Arab Emirates,R Trumpelmann,BM Scholtz,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df['batting_team'].unique()

array(['Australia', 'New Zealand', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India', 'Kenya',
       'Bangladesh', 'Scotland', 'Zimbabwe', 'Bermuda', 'Ireland',
       'Netherlands', 'Afghanistan', 'Canada', 'Nepal', 'Hong Kong',
       'United Arab Emirates', 'Papua New Guinea', 'Oman', 'ICC World XI',
       'Malaysia', 'Thailand', 'Uganda', 'Botswana', 'Lesotho', 'Malawi',
       'Namibia', 'Sierra Leone', 'Mozambique', 'China', 'Kuwait',
       'United States of America', 'Philippines', 'Vanuatu', 'Nigeria',
       'Tanzania', 'Japan', 'Indonesia', 'Fiji', 'Rwanda', 'Samoa',
       'Ghana', 'Germany', 'Italy', 'Guernsey', 'Jersey', 'Denmark',
       'Norway', 'Mali', 'Maldives', 'Singapore', 'Qatar',
       'Cayman Islands', 'South Korea', 'Portugal', 'Spain', 'Gibraltar',
       'Bhutan', 'Saudi Arabia', 'Bahrain', 'Iran', 'Austria',
       'Isle of Man', 'Belgium', 'Luxembourg', 'Czech Republic',
       'Bulgaria', 'Romania', 'Greece', 'Serbia', 'Malta', 'France',
       'Sweden', 'Finland', 'Hungary', 'Eswatini', 'Cameroon', 'Estonia',
       'Cyprus', 'Swaziland', 'Seychelles', 'Argentina', 'Brazil',
       'Switzerland', 'Belize', 'Bahamas', 'Panama', 'Israel', 'Turkey',
       'Croatia', 'Slovenia', 'Barbados', 'Cook Islands'], dtype=object)

In [38]:
consistent_teams=['Australia','Sri Lanka','India', 'Bangladesh', 'New Zealand', 'South Africa', 'England',
       'West Indies', 'Pakistan', 'Afghanistan']

In [39]:
df['batting_team'].isin(consistent_teams)

0          True
1          True
2          True
3          True
4          True
          ...
540327    False
540328    False
540329    False
540330    False
540331    False
Name: batting_team, Length: 540332, dtype: bool

In [40]:
df[df['batting_team'].isin(consistent_teams)]

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539950,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.2,Sri Lanka,Netherlands,BKG Mendis,PWH de Silva,...,0,NaN,NaN,NaN,NaN,NaN,caught,BKG Mendis,NaN,NaN
539951,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.3,Sri Lanka,Netherlands,C Karunaratne,PWH de Silva,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539952,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.4,Sri Lanka,Netherlands,PWH de Silva,C Karunaratne,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539953,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.5,Sri Lanka,Netherlands,C Karunaratne,PWH de Silva,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539954,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.6,Sri Lanka,Netherlands,PWH de Silva,C Karunaratne,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df=df[df['batting_team'].isin(consistent_teams)]

In [42]:
df=df[df['bowling_team'].isin(consistent_teams)]

In [44]:
df['batting_team'].unique()

array(['Australia', 'New Zealand', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India', 'Bangladesh',
       'Afghanistan'], dtype=object)

In [45]:
df['bowling_team'].unique()

array(['New Zealand', 'Australia', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India', 'Bangladesh',
       'Afghanistan'], dtype=object)

In [46]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [47]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.sort_values(['match_id', 'innings'], ascending=[True, True])

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs
245,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1
246,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2
247,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3
248,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4
249,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536847,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,7.6,India,Sri Lanka,S Mandhana,H Kaur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6
536848,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.1,India,Sri Lanka,H Kaur,S Mandhana,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1
536849,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.2,India,Sri Lanka,H Kaur,S Mandhana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.2
536850,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.3,India,Sri Lanka,S Mandhana,H Kaur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3
536851,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.4,India,Sri Lanka,S Mandhana,H Kaur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4

In [50]:
df=df.sort_values(['match_id', 'innings'], ascending=[True, True])

In [51]:
df['overs']=df['ball']

In [52]:
#make string version of original column
df['ball']=df['ball'].astype(str)

In [53]:
df['ball'].str[0:-1]

245       0.
246       0.
247       0.
248       0.
249       0.
          ..
536847    7.
536848    8.
536849    8.
536850    8.
536851    8.
Name: ball, Length: 246402, dtype: object

In [54]:
df['over']=df['ball'].str[0:-1]

In [55]:
df['over'].str.replace('.', '')

245       0
246       0
247       0
248       0
249       0
         ..
536847    7
536848    8
536849    8
536850    8
536851    8
Name: over, Length: 246402, dtype: object

In [56]:
df['over']=df['over'].str.replace('.', '')

In [57]:
df['ball'].str[-1]

245       1
246       2
247       3
248       4
249       5
         ..
536847    6
536848    1
536849    2
536850    3
536851    4
Name: ball, Length: 246402, dtype: object

In [58]:
df['ball']=df['ball'].str[-1]

In [59]:
df['ball']= df['ball'].astype(int)

In [60]:
df['over']= df['over'].astype(int)

In [61]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over
245,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0
246,211028,2005,2005-06-13,The Rose Bowl,1,2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0
247,211028,2005,2005-06-13,The Rose Bowl,1,3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0
248,211028,2005,2005-06-13,The Rose Bowl,1,4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0
249,211028,2005,2005-06-13,The Rose Bowl,1,5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0

In [62]:
df['total_runs']=df['runs_off_bat']+df['extras']

In [63]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over,total_runs
245,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0,0

In [64]:
df=df[['match_id', 'innings', 'batting_team', 'bowling_team', 'overs', 'over', 'ball',
       'total_runs', 'player_dismissed',]]

In [65]:
df=df.rename(columns={"match_id": "id"})

In [66]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
245,211028,1,England,Australia,0.1,0,1,0,NaN
246,211028,1,England,Australia,0.2,0,2,1,NaN
247,211028,1,England,Australia,0.3,0,3,0,NaN
248,211028,1,England,Australia,0.4,0,4,0,NaN
249,211028,1,England,Australia,0.5,0,5,0,NaN
...,...,...,...,...,...,...,...,...,...
536847,1335808,2,India,Sri Lanka,7.6,7,6,0,NaN
536848,1335808,2,India,Sri Lanka,8.1,8,1,1,NaN
536849,1335808,2,India,Sri Lanka,8.2,8,2,1,NaN
536850,1335808,2,India,Sri Lanka,8.3,8,3,4,NaN
536851,1335808,2,India,Sri Lanka,8.4,8,4,6,NaN

In [67]:
df = df.replace(np.nan, 0)

In [68]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
245,211028,1,England,Australia,0.1,0,1,0,0
246,211028,1,England,Australia,0.2,0,2,1,0
247,211028,1,England,Australia,0.3,0,3,0,0
248,211028,1,England,Australia,0.4,0,4,0,0
249,211028,1,England,Australia,0.5,0,5,0,0
...,...,...,...,...,...,...,...,...,...
536847,1335808,2,India,Sri Lanka,7.6,7,6,0,0
536848,1335808,2,India,Sri Lanka,8.1,8,1,1,0
536849,1335808,2,India,Sri Lanka,8.2,8,2,1,0
536850,1335808,2,India,Sri Lanka,8.3,8,3,4,0
536851,1335808,2,India,Sri Lanka,8.4,8,4,6,0

In [69]:
df.groupby(['id', 'innings'])['total_runs'].transform('sum')

245       179
246       179
247       179
248       179
249       179
         ...
536847     71
536848     71
536849     71
536850     71
536851     71
Name: total_runs, Length: 246402, dtype: int64

In [70]:
df['total']=df.groupby(['id', 'innings'])['total_runs'].transform('sum')

In [71]:
df.groupby(['id', 'innings'])['total_runs'].apply(lambda x: x.cumsum())

id       innings
211028   1        245        0
                  246        1
                  247        1
                  248        1
                  249        1
                            ..
1335808  2        536847    59
                  536848    60
                  536849    61
                  536850    65
                  536851    71
Name: total_runs, Length: 246402, dtype: int64

In [73]:
df['total_score'] = df.groupby(['id', 'innings'])['total_runs'].apply(lambda x: x.cumsum()).reset_index(level=[0,1], drop=True)
# Reset the index of the result of the groupby and apply operation to match the DataFrame 'df'

In [74]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score
245,211028,1,England,Australia,0.1,0,1,0,0,179,0
246,211028,1,England,Australia,0.2,0,2,1,0,179,1
247,211028,1,England,Australia,0.3,0,3,0,0,179,1
248,211028,1,England,Australia,0.4,0,4,0,0,179,1
249,211028,1,England,Australia,0.5,0,5,0,0,179,1

In [75]:
df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

             id  innings  level_2  total_runs
0        211028        1      245         0.0
1        211028        1      246         1.0
2        211028        1      247         1.0
3        211028        1      248         1.0
4        211028        1      249         1.0
...         ...      ...      ...         ...
246397  1335808        2   536847        34.0
246398  1335808        2   536848        29.0
246399  1335808        2   536849        29.0
246400  1335808        2   536850        33.0
246401  1335808        2   536851        39.0

[246402 rows x 4 columns]

In [76]:
tmp=df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

In [77]:
tmp[['total_runs']]

        total_runs
0              0.0
1              1.0
2              1.0
3              1.0
4              1.0
...            ...
246397        34.0
246398        29.0
246399        29.0
246400        33.0
246401        39.0

[246402 rows x 1 columns]

In [78]:
df['prev_30_runs']=tmp['total_runs'].to_list()

In [79]:
df.head(10)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
245,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0
246,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0
247,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0
248,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0
249,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0
250,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0
251,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0
252,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0
253,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0
254,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0

In [80]:
df['player_dismissed'].unique()

array([0, 'GO Jones', 'A Flintoff', ..., 'CS Fraser', 'Nahida Akter',
       'RS Gayakwad'], dtype=object)

In [81]:
df['player_dismissed']=np.where(df['player_dismissed']==0, 0, 1)

In [82]:
tmp=df.groupby(['id', 'innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()

df['prev_30_wickets']=tmp['player_dismissed'].to_list()

In [83]:
df.head(60)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
245,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0
246,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0
247,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0
248,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0
249,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0
250,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0,0.0
251,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0,0.0
252,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0,0.0
253,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0,0.0
254,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0,0.0
255,211028,1,England,Australia,1.4,1,4,0,0,179,5,5.0,0.0
256,211028,1,England,Australia,1.5,1,5,0,0,179,5,5.0,0.0
257,211028,1,England,Australia,1.6,1,6,0,0,179,5,5.0,0.0
258,211028,1,England,Australia,1.7,1,7,1,0,179,6,6.0,0.0
259,211028,1,England,Australia,2.1,2,1,4,0,179,10,10.0,0.0
260,211028,1,England,Australia,2.2,2,2,1,0,179,11,11.0,0.0
261,211028,1,England,Australia,2.3,2,3,0,0,179,11,11.0,0.0
262,211028,1,England,Australia,2.4,2,4,4,0,179,15,15.0,0.0
263,211028,1,England,Australia,2.5,2,5,4,0,179,19,19.0,0.0
264,211028,1,England,Australia,2.6,2,6,1,0,179,20,20.0,0.0
265,211028,1,England,Australia,3.1,3,1,0,0,179,20,20.0,0.0
266,211028,1,England,Australia,3.2,3,2,4,0,179,24,24.0,0.0
267,211028,1,England,Australia,3.3,3,3,4,0,179,28,28.0,0.0
268,211028,1,England,Australia,3.4,3,4,0,0,179,28,28.0,0.0
269,211028,1,England,Australia,3.5,3,5,0,1,179,28,28.0,1.0
270,211028,1,England,Australia,3.6,3,6,1,0,179,29,29.0,1.0
271,211028,1,England,Australia,4.1,4,1,1,0,179,30,30.0,1.0
272,211028,1,England,Australia,4.2,4,2,2,0,179,32,32.0,1.0
273,211028,1,England,Australia,4.3,4,3,4,0,179,36,36.0,1.0
274,211028,1,England,Australia,4.4,4,4,1,0,179,37,37.0,1.0
275,211028,1,England,Australia,4.5,4,5,1,0,179,38,38.0,1.0
276,211028,1,England,Australia,4.6,4,6,1,0,179,39,38.0,1.0
277,211028,1,England,Australia,4.7,4,7,1,0,179,40,39.0,1.0
278,211028,1,England,Australia,4.8,4,8,3,0,179,43,42.0,1.0
279,211028,1,England,Australia,5.1,5,1,1,0,179,44,43.0,1.0
280,211028,1,England,Australia,5.2,5,2,0,0,179,44,42.0,1.0
281,211028,1,England,Australia,5.3,5,3,4,0,179,48,44.0,1.0
282,211028,1,England,Australia,5.4,5,4,1,0,179,49,45.0,1.0
283,211028,1,England,Australia,5.5,5,5,0,1,179,49,45.0,2.0
284,211028,1,England,Australia,5.6,5,6,1,0,179,50,45.0,2.0
285,211028,1,England,Australia,6.1,6,1,1,0,179,51,46.0,2.0
286,211028,1,England,Australia,6.2,6,2,0,0,179,51,46.0,2.0
287,211028,1,England,Australia,6.3,6,3,1,0,179,52,47.0,2.0
288,211028,1,England,Australia,6.4,6,4,0,0,179,52,46.0,2.0
289,211028,1,England,Australia,6.5,6,5,4,0,179,56,46.0,2.0
290,211028,1,England,Australia,6.6,6,6,2,0,179,58,47.0,2.0
291,211028,1,England,Australia,7.1,7,1,1,0,179,59,48.0,2.0
292,211028,1,England,Australia,7.2,7,2,4,0,179,63,48.0,2.0
293,211028,1,England,Australia,7.3,7,3,2,0,179,65,46.0,2.0
294,211028,1,England,Australia,7.4,7,4,1,0,179,66,46.0,2.0
295,211028,1,England,Australia,7.5,7,5,1,0,179,67,47.0,2.0
296,211028,1,England,Australia,7.6,7,6,1,0,179,68,44.0,2.0
297,211028,1,England,Australia,8.1,8,1,1,0,179,69,41.0,2.0
298,211028,1,England,Australia,8.2,8,2,1,0,179,70,42.0,2.0
299,211028,1,England,Australia,8.3,8,3,1,0,179,71,43.0,1.0
300,211028,1,England,Australia,8.4,8,4,4,0,179,75,46.0,1.0
301,211028,1,England,Australia,8.5,8,5,1,0,179,76,46.0,1.0
302,211028,1,England,Australia,8.6,8,6,6,0,179,82,50.0,1.0
303,211028,1,England,Australia,9.1,9,1,1,0,179,83,47.0,1.0
304,211028,1,England,Australia,9.2,9,2,2,0,179,85,48.0,1.0

In [84]:
df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum())

id       innings
211028   1        245       0
                  246       0
                  247       0
                  248       0
                  249       0
                           ..
1335808  2        536847    2
                  536848    2
                  536849    2
                  536850    2
                  536851    2
Name: player_dismissed, Length: 246402, dtype: int64

In [86]:
df['total_wickets'] = df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum()).reset_index(drop=True)
# Reset the index of the result from groupby and apply to match the DataFrame's index

In [87]:
df['prev_30_dot_balls']=df['total_runs']
df['prev_30_dot_balls']=np.where(df['prev_30_dot_balls']==0, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_dot_balls'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_dot_balls']=tmp['prev_30_dot_balls'].to_list()

In [88]:
df['prev_30_boundaries']=df['total_runs']
df['prev_30_boundaries']=np.where(df['prev_30_boundaries']>3, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_boundaries'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_boundaries']=tmp['prev_30_boundaries'].to_list()

In [89]:
df['total_balls']=df['over']*6+df['ball']

In [90]:
df.head(20)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls
245,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,3.0,1.0,0.0,1
246,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,3.0,1.0,0.0,2
247,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,3.0,2.0,0.0,3
248,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,4.0,3.0,0.0,4
249,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,4.0,4.0,0.0,5
250,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0,0.0,4.0,4.0,0.0,6
251,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0,0.0,4.0,4.0,0.0,7
252,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0,0.0,4.0,5.0,0.0,7
253,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0,0.0,4.0,6.0,0.0,8
254,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0,0.0,4.0,6.0,0.0,9
255,211028,1,England,Australia,1.4,1,4,0,0,179,5,5.0,0.0,4.0,7.0,0.0,10
256,211028,1,England,Australia,1.5,1,5,0,0,179,5,5.0,0.0,4.0,8.0,0.0,11
257,211028,1,England,Australia,1.6,1,6,0,0,179,5,5.0,0.0,4.0,9.0,0.0,12
258,211028,1,England,Australia,1.7,1,7,1,0,179,6,6.0,0.0,4.0,9.0,0.0,13
259,211028,1,England,Australia,2.1,2,1,4,0,179,10,10.0,0.0,4.0,9.0,1.0,13
260,211028,1,England,Australia,2.2,2,2,1,0,179,11,11.0,0.0,4.0,9.0,1.0,14
261,211028,1,England,Australia,2.3,2,3,0,0,179,11,11.0,0.0,4.0,10.0,1.0,15
262,211028,1,England,Australia,2.4,2,4,4,0,179,15,15.0,0.0,4.0,10.0,2.0,16
263,211028,1,England,Australia,2.5,2,5,4,0,179,19,19.0,0.0,4.0,10.0,3.0,17
264,211028,1,England,Australia,2.6,2,6,1,0,179,20,20.0,0.0,4.0,10.0,3.0,18

In [91]:
df['run_rate']=6*(df['total_score'])/df['total_balls']

In [92]:
df.head(100)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate
245,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,3.0,1.0,0.0,1,0.000000
246,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,3.0,1.0,0.0,2,3.000000
247,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,3.0,2.0,0.0,3,2.000000
248,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,4.0,3.0,0.0,4,1.500000
249,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,4.0,4.0,0.0,5,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,211028,1,England,Australia,15.2,15,2,1,0,179,126,31.0,3.0,0.0,10.0,2.0,92,8.217391
341,211028,1,England,Australia,15.3,15,3,0,0,179,126,27.0,3.0,0.0,11.0,1.0,93,8.129032
342,211028,1,England,Australia,15.4,15,4,1,0,179,127,27.0,3.0,0.0,11.0,1.0,94,8.106383
343,211028,1,England,Australia,15.5,15,5,4,0,179,131,31.0,2.0,0.0,10.0,2.0,95,8.273684
344,211028,1,England,Australia,15.6,15,6,1,0,179,132,31.0,2.0,0.0,10.0,2.0,96,8.250000

In [93]:
df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

             id  innings  level_2  run_rate
0        211028        1      245  0.000000
1        211028        1      246  1.500000
2        211028        1      247  1.666667
3        211028        1      248  1.625000
4        211028        1      249  1.540000
...         ...      ...      ...       ...
246397  1335808        2   536847  7.866829
246398  1335808        2   536848  7.785411
246399  1335808        2   536849  7.709411
246400  1335808        2   536850  7.659551
246401  1335808        2   536851  7.641719

[246402 rows x 4 columns]

In [94]:
tmp=df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

In [95]:
tmp['run_rate']

0         0.000000
1         1.500000
2         1.666667
3         1.625000
4         1.540000
            ...
246397    7.866829
246398    7.785411
246399    7.709411
246400    7.659551
246401    7.641719
Name: run_rate, Length: 246402, dtype: float64

In [96]:
df['prev_30_run_rate']=tmp['run_rate'].to_list()

In [97]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
245,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,3.0,1.0,0.0,1,0.0,0.000000
246,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,3.0,1.0,0.0,2,3.0,1.500000
247,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,3.0,2.0,0.0,3,2.0,1.666667
248,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,4.0,3.0,0.0,4,1.5,1.625000
249,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,4.0,4.0,0.0,5,1.2,1.540000

In [98]:
convert_dict = {'prev_30_runs':int,
               'prev_30_wickets':int,
               'prev_30_dot_balls':int,
               'prev_30_boundaries':int,
               'run_rate':int,
               'prev_30_run_rate':int,
               }
df = df.astype(convert_dict)

In [99]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
245,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,3.0,1,0,1,0,0
246,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,3.0,1,0,2,3,1
247,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,3.0,2,0,3,2,1
248,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,4.0,3,0,4,1,1
249,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,4.0,4,0,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536847,1335808,2,India,Sri Lanka,7.6,7,6,0,0,71,59,34,2,NaN,14,5,48,7,7
536848,1335808,2,India,Sri Lanka,8.1,8,1,1,0,71,60,29,2,NaN,14,4,49,7,7
536849,1335808,2,India,Sri Lanka,8.2,8,2,1,0,71,61,29,2,NaN,14,4,50,7,7
536850,1335808,2,India,Sri Lanka,8.3,8,3,4,0,71,65,33,2,NaN,13,5,51,7,7
536851,1335808,2,India,Sri Lanka,8.4,8,4,6,0,71,71,39,1,NaN,12,6,52,8,7

In [100]:
df.to_csv('T20I_ball_by_ball_updated', index=None)

In [109]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error

In [110]:
df= pd.read_csv("T20I_ball_by_ball_updated.csv")

In [111]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

,match_id,season,start_date,venue,innings,ball,striker,non_striker,bowler,runs_off_bat,...,bowling_team_Switzerland,bowling_team_Tanzania,bowling_team_Thailand,bowling_team_Turkey,bowling_team_Uganda,bowling_team_United Arab Emirates,bowling_team_United States of America,bowling_team_Vanuatu,bowling_team_West Indies,bowling_team_Zimbabwe
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,AC Gilchrist,MJ Clarke,DR Tuffey,0,...,False,False,False,False,False,False,False,False,False,False
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,AC Gilchrist,MJ Clarke,DR Tuffey,0,...,False,False,False,False,False,False,False,False,False,False
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,MJ Clarke,AC Gilchrist,DR Tuffey,0,...,False,False,False,False,False,False,False,False,False,False
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,MJ Clarke,AC Gilchrist,DR Tuffey,1,...,False,False,False,False,False,False,False,False,False,False
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,AC Gilchrist,MJ Clarke,DR Tuffey,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540327,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.2,D Wiese,R Trumpelmann,Waseem Muhammad,1,...,False,False,False,False,False,True,False,False,False,False
540328,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.3,R Trumpelmann,D Wiese,Waseem Muhammad,1,...,False,False,False,False,False,True,False,False,False,False
540329,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.4,D Wiese,R Trumpelmann,Waseem Muhammad,0,...,False,False,False,False,False,True,False,False,False,False
540330,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.5,BM Scholtz,R Trumpelmann,Waseem Muhammad,1,...,False,False,False,False,False,True,False,False,False,False
540331,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.6,R Trumpelmann,BM Scholtz,Waseem Muhammad,1,...,False,False,False,False,False,True,False,False,False,False

In [113]:
df=pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

In [114]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'striker', 'non_striker', 'bowler', 'runs_off_bat',
       ...
       'bowling_team_Switzerland', 'bowling_team_Tanzania',
       'bowling_team_Thailand', 'bowling_team_Turkey', 'bowling_team_Uganda',
       'bowling_team_United Arab Emirates',
       'bowling_team_United States of America', 'bowling_team_Vanuatu',
       'bowling_team_West Indies', 'bowling_team_Zimbabwe'],
      dtype='object', length=212)

In [116]:
# List all columns in the DataFrame to identify available columns
print(df.columns)

# Select only the columns that exist in the DataFrame after one-hot encoding
df = df[[col for col in ['batting_team_Australia', 'batting_team_Bangladesh', 'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan', 'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies','batting_team_Afghanistan', 'bowling_team_Australia','bowling_team_Bangladesh', 'bowling_team_England',
       'bowling_team_India','bowling_team_New Zealand', 'bowling_team_Pakistan', 'bowling_team_South Africa',
       'bowling_team_Sri Lanka', 'bowling_team_West Indies','bowling_team_Afghanistan'] if col in df.columns]]

# Verify the selected columns
print(df.columns)

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'striker', 'non_striker', 'bowler', 'runs_off_bat',
       ...
       'bowling_team_Switzerland', 'bowling_team_Tanzania',
       'bowling_team_Thailand', 'bowling_team_Turkey', 'bowling_team_Uganda',
       'bowling_team_United Arab Emirates',
       'bowling_team_United States of America', 'bowling_team_Vanuatu',
       'bowling_team_West Indies', 'bowling_team_Zimbabwe'],
      dtype='object', length=212)
Index(['batting_team_Australia', 'batting_team_Bangladesh',
       'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'batting_team_Afghanistan',
       'bowling_team_Australia', 'bowling_team_Bangladesh',
       'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies', 'bowling_team_Afghanistan'],
      dtype='object')

In [117]:
df.head()

,batting_team_Australia,batting_team_Bangladesh,batting_team_England,batting_team_India,batting_team_New Zealand,batting_team_Pakistan,batting_team_South Africa,batting_team_Sri Lanka,batting_team_West Indies,batting_team_Afghanistan,bowling_team_Australia,bowling_team_Bangladesh,bowling_team_England,bowling_team_India,bowling_team_New Zealand,bowling_team_Pakistan,bowling_team_South Africa,bowling_team_Sri Lanka,bowling_team_West Indies,bowling_team_Afghanistan
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [119]:
# List all columns in the DataFrame to confirm if 'total' and 'id' are present
print(df.columns)

# If 'total' and 'id' are present, proceed with the drop operation
if 'total' in df.columns and 'id' in df.columns:
    X= df.drop(labels=['total','id'], axis=1)
    y= df['total'].values
else:
    print("Columns 'total' and/or 'id' not found in the DataFrame.")
    # Investigate further why these columns are missing

Index(['batting_team_Australia', 'batting_team_Bangladesh',
       'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'batting_team_Afghanistan',
       'bowling_team_Australia', 'bowling_team_Bangladesh',
       'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies', 'bowling_team_Afghanistan'],
      dtype='object')
Columns 'total' and/or 'id' not found in the DataFrame.

In [120]:
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42,stratify=y)

In [121]:
X_train= X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

In [122]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(184801, 29) (61601, 29) (184801,) (61601,)

In [124]:
# Handle missing values in X_train before fitting the model
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Assuming X_train and y_train are already defined

# Impute missing values with the mean of each column
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)

# Fit the model with the imputed data
LR_model = LinearRegression()
LR_model.fit(X_train_imputed, y_train)

LinearRegression()

In [125]:
#Creating a pickle file for the classifier
filename= 'lr-model.pkl'
pickle.dump(LR_model, open(filename, 'wb'))

In [127]:
# Handle missing values in X_test before prediction
X_test_imputed = imputer.transform(X_test)  # Use the same imputer fitted on X_train

# Now predict using the imputed X_test
prediction = LR_model.predict(X_test_imputed)
mean_absolute_error(y_test, prediction)

18.694346054705573

In [128]:
# Function to predict scores :

def score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):

    temp_array = list()

    if Bat_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]

    if Bowl_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]

    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(LR_model.predict(data))

    print('Predicted score: ',my_prediction)
    print('Predicted score range: ',my_prediction -18, 'to' ,my_prediction + 18)

In [131]:
# Function to predict scores :

def score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):

    temp_array = list()

    # Add a placeholder for all teams (10 in total including 'other')
    batting_teams = ['AUS', 'BAN', 'ENG', 'IND', 'NZ', 'PAK', 'SA', 'SL', 'WI', 'Other']
    bowling_teams = ['AUS', 'BAN', 'ENG', 'IND', 'NZ', 'PAK', 'SA', 'SL', 'WI', 'Other']

    # One-hot encode batting team
    bat_team_encoded = [1 if team == Bat_team else 0 for team in batting_teams]
    temp_array.extend(bat_team_encoded)

    # One-hot encode bowling team
    bowl_team_encoded = [1 if team == Bowl_team else 0 for team in bowling_teams]
    temp_array.extend(bowl_team_encoded)

    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(LR_model.predict(data))

In [134]:
score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate)

Predicted score:  138
Predicted score range:  120 to 156